{% load static %}
<div class="card mb-4">
    <a href="{{ post.get_absolute_url }}">
        <div class="card">
            <!-- <img src="{% static 'images/Yantra.jpg' %}" class="card-img" alt="..."> -->
            <div class="card-img-overlay d-flex align-items-end justify-content-center">
                <h5 class="card-title p-2 d-inline-flex">
                    Card title
                </h5>
            </div>
        </div>
    </a>
</div>
    <!-- <div class="card-header">
        {{ post.date_pub|date:"d.m.Y" }}
    </div> -->
    <!-- <div class="card-body">
        <h5 class="card-title">
            {{ post.title }}
        </h5>
        <p class="card-text">
            {{ post.body|truncatewords:15 }}
        </p>
        <a href="{{ post.get_absolute_url }}" class="btn btn-outline-dark">
            Читать далее
        </a>
    </div>
    <div class="card-footer text-muted">
        Теги:
        {% for tag in post.tags.all %}
            <a href="{{ tag.get_absolute_url }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                {{ tag.title }}
            </a>
        {% endfor %}
    </div> -->