{% extends 'blog/base_blog.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="d-flex align-items-end justify-content-center">
        <div class="post-title px-2 d-inline-flex" style="margin-bottom: 30px">
            {{ post.title }}
        </div>
    </div>
    </div>
    {% if post.image %}
        <div style="position: relative;">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
    {% endif %}
    
    {{ post.body | safe }}

    <div class="comments">
        <h3>Комментарии</h3>
        {% for comment in comments %}
        <div class="comment">
            <p>{{ comment.text }}</p>
            <p>{{ comment.author.username }} {{ comment.created_at }}</p>
        </div>
        {% empty %}
        <p>Пока нет комментариев</p>
        {% endfor %}
    </div>
    
    <div class="comment-form">
        <h3>Добавить комментарий</h3>
        <form action="{% url 'add_comment' slug=post.slug %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>
    </div>
    
{% endblock %}