{% extends 'blog/base_blog.html' %}

{% block title %}
    Удалить пост "{{ post.title|title }}"
{% endblock %}

{% block content %}
    <form action="{{ post.get_delete_url }}" method="post">
        {% csrf_token %}
        <h3>
            Вы действительно хотите удалить пост <b>"{{ post.title|title }}"</b> ?
        </h3>
        <a href="{{ post.get_absolute_url }}">
            Отмена
        </a>
        <button type="submit" name="button" class="btn btn-primary">
            Удалить пост
        </button>
    </form>
{% endblock %}